.mywork {
  background-color: #161513;
  text-align: center;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.mywork h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: white;
  position: relative;
  font-weight: 600;
}

.work-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 60px;
}

.work-item {
  margin: 15px;
  width: 300px;
  transition: 1.3s;
}

.work-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
}

.work-item:hover {
  transform: scale(1.05);
  border: 4px solid #00d9ff;
  border-radius: 10px;
}

.work-item p {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #555;
}

@media (max-width: 768px) {
  .mywork {
    margin: 50px 70px;
    gap: 50px;
    align-items: start;
  }

  .mywork h1 {
    padding: 0;
    font-size: 50px;
    font-weight: 600;
  }

  .work-container {
    gap: 30px;
  }

  .work-item {
    width: 100%; /* Make work items take full width on small screens */
    height: 100%;
  }

  .work-item p {
    font-size: 1rem;
  }
}
